@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-medieval-50: #fbf7ef;
  --color-medieval-100: #f5ebd6;
  --color-medieval-200: #e6cf9f;
  --color-medieval-300: #dcb366;
  --color-medieval-400: #b88e38;
  --color-medieval-500: #d4af37; /* Metallic Gold */
  --color-medieval-600: #aa8c2c;
  --color-medieval-700: #806921;
  --color-medieval-800: #554616;
  --color-medieval-900: #2b230b;
  --color-medieval-950: #1a1206; /* Very Dark Brown/Black */

  --color-admin-50: #f8fafc;
  --color-admin-100: #f1f5f9;
  --color-admin-200: #e2e8f0;
  --color-admin-300: #cbd5e1;
  --color-admin-400: #94a3b8;
  --color-admin-500: #64748b;
  --color-admin-600: #475569;
  --color-admin-700: #334155;
  --color-admin-800: #1e293b;
  --color-admin-900: #0f172a;
  --color-admin-950: #020617;

  --font-serif: "Cinzel", serif;
  --font-body: "IM Fell English", serif;
  --font-sans: "Lato", sans-serif;
}

body {
  /* @apply bg-medieval-950 text-medieval-50 font-body; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* @apply font-serif text-medieval-100; */
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #1f2937 !important; /* gray-900 */
  /* transition: background-color 5000s ease-in-out 0s; */
/* }  */
